* {
	box-sizing: border-box;
}

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 18px;
	line-height: 1.45;
}

body {
	margin: 0;
}

header,
main {
	align-items: start;
	display: grid;
	gap: 1rem 2rem;
	grid-template-columns: 180px 1fr;
	margin: 0 0 2rem;
	padding: 0 max(5%, calc((100% - 1250px) / 2));
}

header {
	padding-block-start: 2rem;
}

.logo {
	display: block;
	font-size: 3.5rem;
	line-height: 1;
	text-align: right;
}

.masthead :is(h1, p) {
	margin: 0;
}

.search,
.genre-filters {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 0.75rem;
	margin: 0;
}

.search {
	grid-column-start: 2;
}

.search-details {
	align-items: baseline;
	background: hsl(300deg 60% 94% / 0.9);
	border: 0;
	border-radius: 0.125rem;
	display: flex;
	gap: 1rem;
	padding: 0.5rem 0.75rem;
}

.search form {
	display: flex;
	gap: 1rem;
}

.search :is(input, button) {
	font-size: 16px;
}

.genre-filters {
	justify-content: flex-end;
}

.genre-filters a {
	background: hsl(300deg 60% 94% / 0.9);
	border: 0;
	border-radius: 0.125rem;
	color: inherit;
	padding: 0.25rem;
	text-align: right;
	text-decoration: none;
}

.genre-filter.selected {
	background: hsl(300deg 70% 44% / 0.9);
	color: white;
}

.genre-label {
	display: inline-block;
	max-width: calc(100% - 22px);
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.genre-filters .control {
	background: transparent;
	border: 1px solid hsl(300deg 30% 94% / 1);
	border-radius: 0.125rem;
	color: hsl(300deg 20% 44% / 1);
	font-size: 0.75rem;
	padding: 0.25rem;
}

.artist-list {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, calc((1250px - 5rem) / 6));
}

.artist-list.empty {
	grid-template-columns: 1fr;
	justify-content: center;
}

.artist-list.empty p {
	font-style: italic;
	text-align: center;
	padding: 3rem 0;
}

.artist {
	aspect-ratio: 1;
	border: 1px solid hsl(300deg 30% 94% / 1);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	position: relative;
	transition: all 100ms ease-out;
	transform-origin: center;
	z-index: 1;
}

.artist:is(:hover, :focus-within) {
	box-shadow: 0 0.25rem 1rem hsl(300deg 20% 54% / 0.7);
	transform: scale(1.2);
	z-index: 10;
}

.details {
	background: hsl(300deg 60% 94% / 0.9);
	opacity: 0.75;
	padding: 0.5rem;
	position: relative;
	transition: 100ms all linear;
	z-index: 5;
}

.artist:is(:hover, :focus-within) .details {
	opacity: 1;
}

.artist h2 {
	font-size: 0.875rem;
	line-height: 1.1;
	margin: 0;
}

.artist img {
	aspect-ratio: 1;
	inset: 0;
	object-fit: cover;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.artist p {
	font-size: 0.75rem;
	margin: 0;
}

footer {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75rem;
	gap: 1rem;
	justify-content: center;
	margin: 2rem auto;
	max-width: 90%;
}
